<div ng-controller="fisioDetalheController" ng-init="initialize()">

    <div layout="row" class="fabWrapper">
        <md-fab-speed-dial ng-class="md-scale">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab" ng-click="newAction()">
                    <md-icon md-svg-src="img/add.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

        </md-fab-speed-dial>
    </div>

    <div class="md-padding" layout="row" layout-wrap>
        <md-card style="min-width: 300px;" ng-repeat="fisio in dataset.fisioList">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" ng-bind="fisio.nome.value"></span>
                    <span class="md-subhead" ng-bind="fisio.especialidade.value"></span>
                    <span class="md-subhead" ng-bind="fisio.idade.value"></span>
                    <span class="md-subhead" ng-bind="fisio.id.value"></span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img class="md-card-image" ng-src="{{fisio.foto.value}}" style="max-width: 150px;">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="editFisioAction(fisio)">Editar</md-button>
                <md-button ng-click="deleteFisioAction(fisio)">Apagar</md-button>
            </md-card-actions>
        </md-card>
    </div>

    <section layout="row" flex>
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Cadastro</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-button ng-click="saveAction()" class="md-primary">
                    Salvar
                </md-button>
                <md-button ng-click="toggleSidebarDetail()" class="md-primary">
                    Descartar
                </md-button>
                <form>
                    <md-input-container>
                        <label for="nomeInput">Código</label>
                        <input type="text" id="nomeInput" ng-model="dataset.fisio.id.value" ng-disabled="true">
                    </md-input-container>
                    <md-input-container>
                        <label for="nomeInput">Nome</label>
                        <input type="text" id="nomeInput" maxlength="50" ng-model="dataset.fisio.nome.value"
                            md-autofocus>
                        <small class="label-error" ng-show="dataset.fisio.nome.error" ng-bind="dataset.fisio.nome.errorMessage"></small>
                    </md-input-container>
                    <md-input-container>
                        <label for="idadeInput">Idade</label>
                        <input type="number" ng-change="idadeInputFormat();" min="18" max="99" maxlength="2"
                            id="idadeInput" ng-model="dataset.fisio.idade.value">
                        <small class="label-error" ng-show="dataset.fisio.idade.error" ng-bind="dataset.fisio.idade.errorMessage"></small>
                    </md-input-container>
                    <md-input-container>
                        <label for="especialidadeInput">Especialidade</label>
                        <input type="text" id="especialidadeInput" maxlength="50" ng-model="dataset.fisio.especialidade.value">
                        <small class="label-error" ng-show="dataset.fisio.especialidade.error" ng-bind="dataset.fisio.especialidade.errorMessage"></small>
                    </md-input-container>
                    <md-input-container>
                        <label for="fotoInput">Foto</label>
                        <input type="text" id="fotoInput" maxlength="200" ng-model="dataset.fisio.foto.value"
                            md-autofocus>
                        <small class="label-error" ng-show="dataset.fisio.foto.error" ng-bind="dataset.fisio.foto.errorMessage"></small>
                    </md-input-container>
                </form>
            </md-content>
        </md-sidenav>
    </section>


</div>