<div ng-controller="pacienteDetalheController" ng-init="initialize()">

    <div layout="row" class="fabWrapper">
        <md-fab-speed-dial ng-class="md-scale">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab" ng-click="newAction()">
                    <md-icon md-svg-src="img/add.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

        </md-fab-speed-dial>
    </div>

    <div class="md-padding" layout="row" layout-wrap>
        <md-card style="min-width: 300px;" ng-repeat="paciente in dataset.pacienteList">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" ng-bind="paciente.nome.value"></span>
                    <span class="md-subhead" ng-bind="paciente.idade.value"></span>
                    <span class="md-subhead" ng-bind="paciente.enfermidade.value"></span>
                    <span class="md-subhead" ng-bind="paciente.id.value"></span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <span class="md-subhead" ng-bind="paciente.relatorio.value"></span>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="editPacienteAction(paciente)">Editar</md-button>
                <md-button ng-click="deletePacienteAction(paciente)">Apagar</md-button>
            </md-card-actions>
        </md-card>
    </div>

    <section layout="row" flex>
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Cadastro</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-button ng-click="saveAction()" class="md-primary">
                    Salvar
                </md-button>
                <md-button ng-click="toggleSidebarDetail()" class="md-primary">
                    Descartar
                </md-button>
                <form>
                    <md-input-container>
                        <label for="nomeInput">Código</label>
                        <input type="text" id="nomeInput" ng-model="dataset.paciente.id.value" ng-disabled="true">
                    </md-input-container>
                    <md-input-container>
                        <label for="nomeInput">Nome</label>
                        <input type="text" id="nomeInput" maxlength="50" ng-model="dataset.paciente.nome.value"
                            md-autofocus>
                        <small class="label-error" ng-show="dataset.paciente.nome.error" ng-bind="dataset.paciente.nome.errorMessage"></small>
                    </md-input-container>
                    <md-input-container>
                        <label for="idadeInput">Idade</label>
                        <input type="number" ng-change="idadeInputFormat();" min="18" max="99" maxlength="2"
                            id="idadeInput" ng-model="dataset.paciente.idade.value">
                        <small class="label-error" ng-show="dataset.paciente.idade.error" ng-bind="dataset.paciente.idade.errorMessage"></small>
                    </md-input-container>
                    <md-input-container>
                        <label for="enfermidadeInput">Enfermidade</label>
                        <input type="text" id="enfermidadeInput" maxlength="50" ng-model="dataset.paciente.enfermidade.value">
                        <small class="label-error" ng-show="dataset.paciente.enfermidade.error" ng-bind="dataset.paciente.enfermidade.errorMessage"></small>
                    </md-input-container>
                    <md-input-container>
                        <label for="relatorioInput">Relatório</label>
                        <input type="text" id="relatorioInput" maxlength="999" ng-model="dataset.paciente.relatorio.value">
                        <small class="label-error" ng-show="dataset.paciente.relatorio.error" ng-bind="dataset.paciente.relatorio.errorMessage"></small>
                    </md-input-container>
                </form>
            </md-content>
        </md-sidenav>
    </section>


</div>